<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag 'arts-theme/jquery-ui-1.8.14.custom.css', 'application.css' %>
  <%= javascript_include_tag 'jquery.min.js', 'jquery_ujs.js', 'jquery-ui.min.js', 'application.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
