div.section {
  background-color: #EEE;
  border: thin solid green;
  padding: 0 5px 0 5px;
}
div.section h2 {
  font-size: 1.2em;
}
label {
}
.surv-block .string {
}
#templates_multiplied div.survey {
}
.factor {
  margin: 1px;
  padding: 0 5px 0 5px;
  border: thin solid grey;
}
.surv-container {
  padding-left: 5px;
  background-color: #EEE;
}
.surv-block label > span {
  font-weight: bold;
}
.error label {
  color: red;
}
